.jumbotron {
  background-color: #5d91e3;
  padding-top: 7rem;
}

#projects {
  background-color: #5d91e3;
}

section {
  padding-top: 4rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
