body {
  overflow-x: hidden;
}

.jumbotron {
  background-color: #5d91e3;
  padding-top: 7rem;
}

#projects {
  background-color: #5d91e3;
}

#gallery {
  padding-bottom: 10rem;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

.bghome {
  background-color: #5d91e3;
  height: 5rem;
}

#bgabout {
  background-color: white;
  height: 10rem;
}

/* My fav hero in Mobile legend */
.fav {
  text-align: center;
  color: #b9724a;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: wavy;
}

.ml-box {
  position: relative;
  background-color: #0d6efd;
  border-radius: 10px;
  height: 500px;
  overflow: hidden;
}

.ml-box::before {
  content: 'HEKA';
  position: absolute;
  color: #fff;
  font-size: 5em;
  font-weight: bold;
  font-style: italic;
  top: 15px;
  left: -100px;
  opacity: 0;
  transition: 0.5s;
  z-index: 1;
}

.ml-box:hover::before {
  left: 72%;
  transform: translate(-50%, 0);
  opacity: 0.3;
}

.ml-box::after {
  content: 'DeathOath';
  position: absolute;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  top: 390px;
  left: 450px;
  opacity: 0;
  transition: 0.5s;
  color: #fc4cdd;
  letter-spacing: 4px;
  -webkit-text-stroke: 2px #522452;
}

.ml-box:hover::after {
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.5;
}

.ml-name {
  position: absolute;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transition: 0.5s;
  left: 25%;
}

.ml-box:hover .ml-name {
  top: 10px;
  opacity: 0.2;
}

.ml-detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.ml-box:hover .ml-detail-button {
  opacity: 1;
  bottom: 20px;
}

.ml-img {
  position: absolute;
  top: 59%;
  left: 56%;
  transform: translate(-50%, -52%);
  max-width: 1000px;
  transition: 0.5s;
}

.ml-box:hover .ml-img {
  transform: translate(-50%, -52%) rotate(5deg) scale(1.2);
}
